.modal{
	position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    background-image: url("./images/inicio.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    z-index: 99999;
    height: 100%;
    width: 100%;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  color: white;
  font-size: 1.4em; 
  text-align: right;     
}

.modalContent h1{
  font-size: 2.1em;
  text-align: center;   
  margin-bottom: 6%;
}

.modalContent p{
    letter-spacing: 0.2rem;
}

.modalContent a{
  color: #fff;
  letter-spacing: 0.2rem; 
  margin-top: 4%;
}

.modalContent a img{
  display: none;
}

.modalContent a:focus{
  display: inline;
  outline: none;  
}

.modalContent a:focus img{
  display: inline;
}

.modalContent a:hover img{
  display: inline;
}